<% content_for(:page_title) { t("settings.document_types.new", default: "Новый тип") } %>
<header class="page-header"><h1 class="title-1 m-0"><%= t("settings.document_types.new", default: "Новый тип документа") %></h1></header>
<%= render "form", type: @type %>
