<section class="careers-thanks">
  <div class="careers-thanks__icon">
    <svg width="56" height="56" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"/>
      <polyline points="22 4 12 14.01 9 11.01"/>
    </svg>
  </div>
  <h1 class="careers-thanks__title"><%= @careers.t("thank_you_title") %></h1>
  <p class="careers-thanks__text"><%= @careers.t("thank_you_text") %></p>
  <%= link_to @careers.t("thank_you_back"), careers_path, class: "btn btn-soft" %>
</section>
